* {
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
}

window#waybar {
  /* background-color: rgba(43, 48, 59, 0.8); */
  background-color: transparent;
  color: #ffffff;
  transition-property: background-color;
  transition-duration: 0.5s;
}

button {
  border-radius: 0;
  color: #dcd7ba;
  transition: background-color 300ms ease-in-out;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

.modules-center,
.modules-right,
.modules-left {
  background-color: #2a2a37;
  color: #dcd7ba;
  font-weight: 500;
  border: 1px solid #1f1f28;
}

.modules-center {
  padding: 0 10px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#pulseaudio,
#cpu,
#tray {
  padding-right: 20px;
}

#workspaces button.active {
  background-color: #16161d;
}

#custom-spotifyartist {
  background: #76946a;
  color: #1f1f28;
  padding: 0 10px;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.25s;
}

#custom-spotifytitle {
  background: #98bb6c;
  color: #1f1f28;
  padding: 0 10px;
  margin-right: 10px;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.25s;
}

#custom-spotifyartist.Paused,
#custom-spotifytitle.Paused,
#custom-spotifyartist.Inactive,
#custom-spotifytitle.Inactive {
  opacity: 0.5;
}

#custom-vpn {
  background-color: #658594;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.25s;
  margin-left: 10px;
  padding: 0 10px;
}

#custom-vpn.inactive {
  opacity: 0.5;
}
